<?xml version="1.0"?>
<launch>
    <arg name="side" default="r"/>     
    <group if="$(eval side == 'b')">
        <include file="$(find burger_controller)/launch/self_location_estimation.launch">           
            <arg name="initial_pose_x" value="1.3"/>
            <arg name="initial_pose_y" value="0.0"/>
            <arg name="initial_pose_a" value="3.14"/>                 
        </include>
    </group>

    <group if="$(eval side == 'r')">
        <include file="$(find burger_controller)/launch/self_location_estimation.launch"/>           
    </group>
    

    <node pkg="burger_controller" type="war_state_publisher.py" name="warState" output="screen"/>    
    <node pkg="burger_controller" type="tmp_myState_listener.py" name="myState"/>
    <node pkg="burger_controller" type="cv_cam2.py" name="cvCam"/>
     <!-- output="screen"/>         -->
</launch>

